@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: white;
}

body {
  background-color: #141518;
}
body .main .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: 350px;
  width: 250px;
  background-color: #202630;
  padding: 15px;
}
body .main .container .container__texto {
  display: flex;
  flex-direction: column;
}
body .main .container .container__texto .fa-star {
  color: #fc7613;
  background-color: #282e38;
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body .main .container .container__texto .container__titulo {
  color: white;
  text-align: center;
  padding: 10px 0;
}
body .main .container .container__texto .container__contenido {
  padding: 10px 0;
}
body .main .container .container__puntuaciones {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
body .main .container .container__puntuaciones .container__punto {
  background-color: #282e38;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
body .main .container .container__puntuaciones .container__punto:hover {
  background-color: white;
}
body .main .container .container__puntuaciones .container__punto:hover p {
  color: black;
  font-weight: 400;
}
body .main .container .container__puntuaciones .seleccion {
  background-color: #fc7613;
  color: black;
}
body .main .container .container__boton {
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc7613;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
body .main .container .container__boton p {
  font-size: 15px;
  color: black;
  font-weight: 500;
}
body .main .container .container__boton:hover {
  background-color: white;
}
body .main .container2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 250px;
  height: 350px;
  background-color: #202630;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .main .container2 .container2__img {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
body .main .container2 .container2__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .main .container2 .container2__seleccion {
  background-color: #282e38;
  color: #fc7613;
  font-weight: 400;
  border-radius: 50px;
  padding: 8px 12px;
  font-size: 12px;
}
body .main .container2 .container2__mensaje .container2__titulo {
  text-align: center;
}
body .main .container2 .container2__mensaje .container2__mensaje-gracias {
  text-align: center;
  padding: 10px 0;
}
body .main .oculto {
  display: none;
}

/*# sourceMappingURL=main.css.map */
