body {

    background-color: #141518;

    .main {
        // border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        width: 250px;
        background-color: #202630;
        padding: 15px;
        .main__texto {
            // border: 1px solid green;
            display: flex;
            flex-direction: column;
            .fa-star {
                // border: 1px solid yellow;
                color: #fc7613;
                background-color: #282e38;
                width: 35px;
                height: 35px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .main__titulo {
                // border: 1px solid red;
                color: white;
                text-align: center;
                padding: 10px 0;
            }
            .main__contenido {
                // border: 1px solid red;
                padding: 10px 0;
            }
        }


        .main__puntuaciones {
            // border: 1px solid yellow;
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            .main__punto {
                // border: 1px solid white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #282e38;
                cursor: pointer;
                transition: background-color 0.3s linear;
                &:hover {
                    background-color: white;
                    p {
                        color: black;
                        font-weight: 400;
                    }
                }
            }
            
        }

        .main__boton {
            // border: 1px solid red;
            height: 40px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fc7613;
            cursor: pointer;
            transition: background-color 0.3s linear;
            p {
                font-size: 15px;
                color: black;
                font-weight: 500;
            }
            &:hover {
                background-color: white;
            }
        }
    }
}