body {

    background-color: #141518;

    .main {

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 10px;
            height: 350px;
            width: 250px;
            background-color: #202630;
            padding: 15px;
            .container__texto {
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                .fa-star {
                    // border: 1px solid yellow;
                    color: #fc7613;
                    background-color: #282e38;
                    width: 35px;
                    height: 35px;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
                .container__titulo {
                    // border: 1px solid red;
                    color: white;
                    text-align: center;
                    padding: 10px 0;
                }
                .container__contenido {
                    // border: 1px solid red;
                    padding: 10px 0;
                }
            }
    
    
            .container__puntuaciones {
                // border: 1px solid yellow;
                display: flex;
                justify-content: space-between;
                padding: 15px 0;
    
                .container__punto {
                    // border: 1px solid white;
                    background-color: #282e38;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.3s linear;
                    &:hover {
                        background-color: white;
                        p {
                            color: black;
                            font-weight: 400;
                        }
                    }
                }
                .seleccion {
                    background-color: #fc7613;
                    color: black;
                }
                
                
            }
    
            .container__boton {
                // border: 1px solid red;
                height: 40px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fc7613;
                cursor: pointer;
                transition: background-color 0.3s linear;
                p {
                    font-size: 15px;
                    color: black;
                    font-weight: 500;
                }
                &:hover {
                    background-color: white;
                }
            }

        }
        

        // ESTILOS PARA LA SEGUNDA CARA

        .container2 {
            // border: 1px solid red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 10px;
            width: 250px;
            height: 350px;
            background-color: #202630;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .container2__img {
                // border: 1px solid green;
                width: 150px;
                height: 150px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .container2__seleccion {
                // border: 1px solid red;
                background-color: #282e38;
                color: #fc7613;
                font-weight: 400;
                border-radius: 50px;
                padding: 8px 12px;
                font-size: 12px;
            }
            .container2__mensaje {
                // border: 1px solid yellow;
                .container2__titulo {
                    // border: 1px solid red;
                    text-align: center;
                }
                .container2__mensaje-gracias {
                    // border: 1px solid blue;
                    text-align: center;
                    padding: 10px 0;
                }
            }

        }

        .oculto {
            display: none;
        }



        
    }
}